<!doctype HTML>
<html lang='{{ lang }}'>

<head>
    <title>LiTHe kod</title>
    <link rel='icon' type='image/png' href='/static/img/icon.png'>
    <link href='/static/style.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <script src="/static/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset='utf-8' />
</head>

<body>
    <input type="checkbox" name="aoc-trigger" id="aoc-trigger">
    <input name='theme-trigger' id='theme-trigger' type='checkbox'>
    <div id="body">
        <script>
            const trigger = document.getElementById("theme-trigger");
            trigger.checked = window.localStorage.getItem("theme") === "light";
        </script>
        <input name='nav-trigger-toggle' id='nav-trigger-toggle' type='checkbox'>
        <nav id='nav'>
            <label for='nav-trigger-toggle'>
                <div id='nav-toggle'>
                    <i class="fas fa-bars"></i>
                </div>
            </label>
            <div id='nav-logo-container'>
                <img id='nav-logo' src='/static/img/logo.png'>
            </div>
            <ul>
                {% for item in navigation %}

                {% if loop.index0 == selected %}
                {% set maybe_selected = "selected" %}
                {% else %}
                {% set maybe_selected = "" %}
                {% endif %}
                <li class='item {{ maybe_selected }}' onclick='window.location.href="/{{ item.1 }}"'>

                    <a href='/{{ item.1 }}'>
                        {% if swedish %}
                        {{ item.0.0 }}
                        {% else %}
                        {{ item.0.1 }}
                        {% endif %}
                    </a>
                </li>
                {%- endfor -%}
            </ul>
            <a class='button' id='toggle-lang' href="{{ other_base }}{{ page_url }}">
                <img onclick='window.location.href="{{ other_lang }}"' src='/static/img/{{ other_lang }}.svg' />
            </a>
            <label class='button' id='toggle-theme' for='theme-trigger'>
                <img id='dark-theme' src='/static/img/dark-theme.svg' />
                <img id='light-theme' src='/static/img/light-theme.svg' />
            </label>
        </nav>
        <header>
            <canvas id="fancy-pants-graphics"></canvas>
            <a id="header-graphic" href='/'>
                <img src='/static/img/totalrippad.svg'>
            </a>
        </header>
        <article>
            <noscript>
                <h1>Oh snag, no JS!</h1>
                <p id="no-script">
                    Oh, it looks like you don't have JavaScript enabled, it's
                    understandable really, but some of the functionality on this
                    site won't work. Unfortunately you can't get light or dark
                    theme or automatically switch between English and Swedish.
                </p>
            </noscript>
            {% block content %}
            <p>There is no content here!</p>
            {% endblock %}
        </article>
        <div id="footer-bg">
            <footer>
                <div class="footer-block">
                    <h2>
                        {% if swedish %}
                        Kontakt
                        {% else %}
                        Contact us
                        {% endif %}
                    </h2>
                    <p>
                        <a href="https://discord.gg/UG5YYsN">
                            <i class="fab fa-discord"></i> Discord
                        </a>
                    </p>
                    <p>
                        <a href="https://www.facebook.com/LitheKod/">
                            <i class="fab fa-facebook"></i> Facebook
                        </a>
                    </p>
                    <p>
                        <a href="mailto:ordf@lithekod.se">
                            <i class="fas fa-at"></i> ordf@lithekod.se
                        </a>
                    </p>
                </div>
                <div class="footer-block">
                    <h2>
                        {% if swedish %}
                        Adress
                        {% else %}
                        Address
                        {% endif %}
                    </h2>
                    <p>LiTHe kod Kårallen, Universitetet</p>
                    <p>581 83 Linköping</p>
                </div>
            </footer>
        </div>
    </div>
    <canvas id="snowflakes"></canvas>
</body>

</html>
