{% extends "base.html" %}
{% block content %}
{{ html | safe }}
{{ injection | safe }}
<p>
<small>
    {% if swedish %}
    Senast uppdaterad: {{ last_updated }}
    {% else %}
    Last updated: {{ last_updated }}
    {% endif %}
</small>
</p>
{% endblock %}
