<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; url={{ redirect_url }}">
    <script>
        window.location.href = "{{ redirect_url }}";
    </script>
    <title>LiTHe kod</title>
    <link rel='icon' type='image/png' href='/static/img/icon.png'>
    <link href='/static/style.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
</head>

<body>
    <p>
        If you are not redirected, please follow this <a href="{{ redirect_url }}">link</a>
    </p>
</body>

</html>
